/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 2rem;
}

/* Estilos de la tabla del calendario */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    position: relative; /* Necesario para posicionar el icono de comentario */
}

table th {
    background-color: #007BFF;
    color: white;
}

table td a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: background-color 0.3s;
}

table td a:hover {
    background-color: #f0f0f0;
}

/* Estilos para los estados de asistencia y sus siglas */
.estado-presente {
    color: black;
    background-color: transparent;
    font-weight: bold;
}

.estado-ausencia {
    color: #9c0006;
    background-color: #ffc7ce;
    font-weight: bold;
}

.estado-licencia_medica {
    color: red;
    background-color: #8fbc8f;
    font-weight: bold;
}

.estado-renuncia_desvinculacion {
    color: red;
    background-color: transparent;
    font-weight: bold;
}

.estado-dia_libre,
.estado-permisos_especiales_legales,
.estado-vacaciones,
.estado-dias_capacitacion_ingreso {
    color: black;
    background-color: transparent;
    font-weight: bold;
}

.estado-ninguno {
    background-color: transparent;
    color: #007BFF;
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
    padding: 10px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-menu button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para la marca de comentario */
.has-comment {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.8em;
    cursor: help;
}

/* Otros estilos */
.back-button {
    background-color: #0056b3;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
