<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Asistencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Editar Asistencia</h1>
        <p>Empleado: {{ registro.nombre }}</p>
        <p>Fecha: {{ registro.fecha.strftime('%Y-%m-%d') }}</p>
        <form action="{{ url_for('actualizar_asistencia_calendario', id_asistencia=registro.id_asistencia) }}" method="post">
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select id="estado" name="estado" required>
                    <option value="P" {% if registro.estado == 'P' %}selected{% endif %}>Presente</option>
                    <option value="DL" {% if registro.estado == 'DL' %}selected{% endif %}>Día libre</option>
                    <option value="PE" {% if registro.estado == 'PE' %}selected{% endif %}>Permisos Especiales/legales</option>
                    <option value="V" {% if registro.estado == 'V' %}selected{% endif %}>Vacaciones</option>
                    <option value="CAP" {% if registro.estado == 'CAP' %}selected{% endif %}>Días capacitación ingreso</option>
                    <option value="A" {% if registro.estado == 'A' %}selected{% endif %}>Ausencia</option>
                    <option value="L" {% if registro.estado == 'L' %}selected{% endif %}>Licencia Médica</option>
                    <option value="R" {% if registro.estado == 'R' %}selected{% endif %}>Renuncia/Desvinculación</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="hora_entrada">Hora Entrada:</label>
                <input type="time" id="hora_entrada" name="hora_entrada" value="{{ registro.hora_entrada }}" {% if registro.hora_entrada %}required{% endif %}>
            </div>
            
            <div class="form-group">
                <label for="hora_salida">Hora Salida:</label>
                <input type="time" id="hora_salida" name="hora_salida" value="{{ registro.hora_salida }}" {% if registro.hora_salida %}required{% endif %}>
            </div>
            
            <button type="submit">Actualizar Registro</button>
        </form>
    </div>
</body>
</html>