<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Asistencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Editar Asistencia</h1>
        <nav>
            <a href="{{ url_for('ver_calendario', anio=anio, mes=mes_numero) }}" class="back-button">Volver al Calendario</a>
        </nav>
    </header>

    <main>
        <form action="{{ url_for('editar_asistencia_calendario', id_asistencia=registro.id_asistencia, anio=anio, mes=mes_numero) }}" method="POST">
            <label for="estado">Estado:</label>
            <select name="estado" id="estado" required>
                <option value="Presente" {% if registro.estado == 'Presente' %}selected{% endif %}>P</option>
                <option value="Día libre" {% if registro.estado == 'Día libre' %}selected{% endif %}>DL</option>
                <option value="Permisos Especiales/legales" {% if registro.estado == 'Permisos Especiales/legales' %}selected{% endif %}>PE</option>
                <option value="Vacaciones" {% if registro.estado == 'Vacaciones' %}selected{% endif %}>V</option>
                <option value="Días capacitación ingreso" {% if registro.estado == 'Días capacitación ingreso' %}selected{% endif %}>CAP</option>
                <option value="Ausencia" {% if registro.estado == 'Ausencia' %}selected{% endif %}>A</option>
                <option value="Licencia Médica" {% if registro.estado == 'Licencia Médica' %}selected{% endif %}>L</option>
                <option value="Renuncia/Desvinculación" {% if registro.estado == 'Renuncia/Desvinculación' %}selected{% endif %}>R</option>
            </select>
            <br>
            <label for="hora_entrada">Hora de Entrada:</label>
            <input type="time" name="hora_entrada" id="hora_entrada" value="{{ registro.hora_entrada if registro.hora_entrada else '' }}">
            <br>
            <label for="hora_salida">Hora de Salida:</label>
            <input type="time" name="hora_salida" id="hora_salida" value="{{ registro.hora_salida if registro.hora_salida else '' }}">
            <br>
            <button type="submit">Actualizar Asistencia</button>
        </form>
    </main>
</body>
</html>
