<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Asistencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Registrar Asistencia para {{ empleado.nombre_completo }}</h1>
        <p>Servicio: {{ empleado.servicio }}</p>
        <p>Fecha: {{ fecha }}</p>
        <form action="{{ url_for('guardar_asistencia_calendario') }}" method="post">
            <input type="hidden" name="RUT" value="{{ empleado.RUT }}">
            <input type="hidden" name="fecha" value="{{ fecha_iso }}">
            
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="P">Presente</option>
                <option value="DL">Día libre</option>
                <option value="PE">Permisos Especiales/legales</option>
                <option value="V">Vacaciones</option>
                <option value="CAP">Días capacitación ingreso</option>
                <option value="A">Ausencia</option>
                <option value="L">Licencia Médica</option>
                <option value="R">Renuncia/Desvinculación</option>
            </select>
            
            <label for="hora_entrada">Hora de Entrada:</label>
            <input type="time" id="hora_entrada" name="hora_entrada">

            <label for="hora_salida">Hora de Salida:</label>
            <input type="time" id="hora_salida" name="hora_salida">
            
            <button type="submit">Guardar Asistencia</button>
        </form>
    </div>
</body>
</html>