<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Mes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Seleccionar Mes para Ver Asistencia</h1>
        <form action="{{ url_for('seleccionar_mes') }}" method="post">
            <label for="mes">Mes:</label>
            <select id="mes" name="mes" required>
                {% set meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"] %}
                {% for i in range(1, 13) %}
                    <option value="{{ i }}">{{ meses[i-1] }}</option>
                {% endfor %}
            </select>
            
            <label for="anio">Año:</label>
            <input type="number" id="anio" name="anio" value="{{ 2025 }}" required>
            
            <button type="submit">Ver Calendario</button>
        </form>
        <br>
        <a href="{{ url_for('admin_view') }}" class="back-button">Volver al panel</a>
    </div>
</body>
</html>