<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="calendar-header-bar">ASISTENCIA - {{ mes }} {{ anio }}</h1>

        <nav class="calendar-nav">
            <ul>
                {% for mes_info in meses %}
                    <li>
                        <a href="{{ url_for('ver_calendario', anio=anio, mes=mes_info.numero) }}" class="mes-link {% if mes_info.numero == mes_numero %}active{% endif %}">
                            {{ mes_info.nombre }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div id="contenedor-tabla">
            {{ rendered_calendar | safe }}
        </div>

        <div class="footer-buttons">
            <a href="{{ url_for('admin_view') }}" class="btn">Volver al Panel</a>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const enlacesMes = document.querySelectorAll(".mes-link");
            const contenedorTabla = document.getElementById("contenedor-tabla");
            const tituloCalendario = document.getElementById("titulo_calendario");

            enlacesMes.forEach(enlace => {
                enlace.addEventListener("click", function(event) {
                    event.preventDefault();
                    const url = this.href;

                    fetch(url, {
                        headers: {
                            "X-Requested-With": "XMLHttpRequest"
                        }
                    })
                    .then(response => response.text())
                    .then(html => {
                        contenedorTabla.innerHTML = html;
                        
                        // Extraer el mes y el año de la URL para actualizar el título
                        const partesURL = url.split('/');
                        const anio = partesURL[partesURL.length - 2];
                        const mes = partesURL[partesURL.length - 1];
                        const nombreMes = obtenerNombreMes(mes);
                        
                        document.querySelector('.calendar-header-bar').textContent = `ASISTENCIA - ${nombreMes} ${anio}`;
                    })
                    .catch(error => console.error("Error:", error));
                });
            });
            
            function obtenerNombreMes(numeroMes) {
                const nombresMeses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                return nombresMeses[parseInt(numeroMes) - 1];
            }
        });
    </script>

</body>
</html>
