<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario - {{ mes }} {{ anio }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Asistencias - {{ mes }} {{ anio }}</h1>
        <nav>
            <a href="{{ url_for('seleccionar_mes') }}" class="back-button">Seleccionar Otro Mes</a>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Nombre</th>
                    <th rowspan="2">Servicio</th>
                    <th colspan="{{ dias|length }}">Días del Mes</th>
                </tr>
                <tr>
                    {% for dia in dias %}
                    <th class="dia-semana">{{ dia }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for rut, empleado in calendario.items() %}
                <tr>
                    <td>{{ empleado.nombre_completo }}</td>
                    <td>{{ empleado.servicio }}</td>
                    {% for dia in dias %}
                    <td>
                        {% if dia in empleado.asistencias %}
                            <a href="{{ url_for('editar_asistencia_calendario', id_asistencia=empleado.asistencias[dia].id_asistencia, anio=anio, mes=mes_numero) }}" class="estado-{{ empleado.asistencias[dia].estado | replace(' ', '_') | replace('/', '_') | lower }}">
                                {% if empleado.asistencias[dia].estado == 'Presente' %} P
                                {% elif empleado.asistencias[dia].estado == 'Día libre' %} DL
                                {% elif empleado.asistencias[dia].estado == 'Permisos Especiales/legales' %} PE
                                {% elif empleado.asistencias[dia].estado == 'Vacaciones' %} V
                                {% elif empleado.asistencias[dia].estado == 'Días capacitación ingreso' %} CAP
                                {% elif empleado.asistencias[dia].estado == 'Ausencia' %} A
                                {% elif empleado.asistencias[dia].estado == 'Licencia Médica' %} L
                                {% elif empleado.asistencias[dia].estado == 'Renuncia/Desvinculación' %} R
                                {% else %} {{ empleado.asistencias[dia].estado }}
                                {% endif %}
                            </a>
                        {% else %}
                            <a href="{{ url_for('registrar_asistencia_calendario', RUT=rut, dia=dia, mes=mes_numero, anio=anio) }}" class="estado-ninguno">+</a>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
